.answer {
    width: 30vw;
    height: 20px;
    border: 1px solid #C8C8C8;
    background: #FCFCFC;
    padding: 12px 0 12px 20px;
    color: #4B4B4B;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.answer::placeholder {
    font-weight: 500;
}

.answer:focus {
    outline: 2px solid rgb(122, 195, 219);
}

.correct-answer {
    border: 2px solid rgb(19, 118, 19);
}

.correct-answer:focus {
    outline: none;
}

@media only screen and (max-width: 800px){
    .answer {
        padding: 8px 0 8px 20px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px){
    .answer {
        font-size: 12px;
    }

    .answer {
        width: 60vw;
    }
}