.answer-difficulty-container {
    display: flex;
    justify-content: space-between;
}

.numbered-answer {
    display: block;
    border: 1px solid #C8C8C8;
    background: #FCFCFC;
    padding: 10px 0 10px 26px;
    color: #4B4B4B;
    font-weight: bold;
    font-size: 16px;
}

.numbered-answer:focus {
    outline: none;
}



@media only screen and (max-width: 500px) {

    .answer-difficulty-container {
        flex-direction: column;
        gap: 15px;
    }

    .numbered-answer {
        font-size: 12px;
    }

    .enter-number-add-button {
        width: 100%;
        margin-top: 40px;
    }
}