.question-type-navbar {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.nav-items {
    cursor: pointer;
    color: #6A6A6A;
    font-size: 1.25rem;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: transparent;
}

.nav-items:hover {
    background: #edeef0;
}

.selected-type {
    background-color: #a8e391;
    color: #569743;
    font-size: 1.25rem;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    padding: 5px 20px;
}

.selected-type:hover {
    background-color: #a8e391;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    position: absolute;
    left: 50%;
    top: 15%;
    padding: 20px;
    transform: translateX(-50%);
    border-radius: 4px;
    background: #F4F5F7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.difficulty-dropdown {
    font-weight: 600;
    color: #6A6A6A;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-question-button {
    cursor: pointer;
    padding: 7px 24px;
    border: 0;
    border-radius: 4px;
    background: #4CA974;
    color: #FFFBFB;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
}

@media only screen and (max-width: 800px) {

    :root {
        font-size: 12px;
    }

    .home-logo {
        width: 50px;
        height: 50px;
    }

    .profile-container {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    #dropdown-panel {
        right: 3%;
    }

    #dropdown-panel div {
        padding: 12px 24px;
    }

    #dropdown-panel div p {
        font-size: 15px;
    }

    .question-type-navbar {
        gap: 20px;
    }

    .main-container {
        padding-bottom: 10px;
    }

    .add-question-button {
        width: 100%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        font-size: 8px;
    }

    #dropdown-panel {
        right: 5%;
    }

    #dropdown-panel div {
        padding: 8px 24px;
    }

    #dropdown-panel div p {
        font-size: 12px;
    }

    .question-type-navbar {
        gap: 20px;
    }

    .difficulty-dropdown {
        font-size: 12px;
    }

    .main-container {
        padding-bottom: 10px;
    }
}