.question-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65vw;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #C8C8C8;
    background: #FCFCFC;
    padding: 15px 15px 0 26px;
    margin-bottom: 20px;
}

.question-container textarea {
    height: 50%;
    border: none;
    color: #4B4B4B;
    background: #FCFCFC;
    font-weight: bold;
    font-size: 20px;
    resize: none;
}

.question-container textarea::placeholder {
    font-family: "Inter";
    color: #A3A3A3;
    font-size: 20px;
    font-weight: 400;
}

.question-container textarea:focus {
    outline: none;
}

.counter {
    text-align: end;
    margin: 11px 0;
    color: #A3A3A3;
    font-size: 15px;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {

    .question-container {
        height: 150px;
        padding: 15px 15px 0 26px;
        margin-bottom: 20px;
    }

    .question-container textarea {
        font-size: 15px;
    }

    .question-container textarea::placeholder {
        font-size: 15px;
    }

    .counter {
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px) {

    .question-container {
        width: 55vw;
        height: 150px;
        padding: 15px 15px 0 26px;
        margin-bottom: 20px;
    }

    .question-container textarea {
        font-size: 15px;
    }

    .question-container textarea::placeholder {
        font-size: 15px;
    }

    .counter {
        font-size: 10px;
    }
}