.password-sent-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    border-radius: 5px;
    padding: 40px 15px 33px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.check-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #7DF768;
    border: 2px solid #797979;
    border-radius: 999px;
}

.password-sent-title {
    font-size: 20px;
    margin-top: 29px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #302F2F;
}

.password-sent-subtitle {
    margin-bottom: 9px;
    color: #747474;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0;
}