.add-answers-button {
    cursor: pointer;
    margin: 10px 35px;
    border-radius: 5px;
    padding: 7px 24px;
    background: #4CA7A9;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

.answers-addition-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answers-panel {
    width: 883px;
    height: 183px;
    border-radius: 6px;
    border: 1px solid #C8C8C8;
    background: #FCFCFC;
}

.add-enter-answers-question-button {
    cursor: pointer;
    padding: 7px 24px;
    border: 0;
    border-radius: 4px;
    background: #4CA974;
    color: #FFFBFB;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}